server:
  port: ${port:8080}
spring:
  application:
    name: orchestrator
  rabbitmq:
    host: localhost
    listener:
      simple:
        default-requeue-rejected: false
eureka:
  client:
    serviceUrl:
      defaultZone: ${eureka.uri:http://localhost:8761/eureka}
  instance:
    statusPageUrlPath: /swagger-ui.html
    preferIpAddress: true
zuul:
  ignoredServices: '*'
  routes:
    idpa: /idpa/**
    jmeter: /jmeter/**
    benchflow: /benchflow/**
    session-logs_sessions:
      path: /sessions/**
      serviceId: session-logs
      stripPrefix: false
    session-logs_measurement-data:
      path: /measurement-data/**
      serviceId: session-logs
      stripPrefix: false
    request-rates: /request-rates/**
    wessbas: /wessbas/**
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 300000